@import "tailwindcss";

body {
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

.bg-pattern {
  background-color: #003366;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Ctext x='0' y='15' fill='%23ffffff' fill-opacity='0.05' font-family='monospace' font-size='10'%3E%3C _%22:/= - .%3E=-%3C/text%3E%3C/svg%3E");
}
